html {
    background-color: white;
    /*background: -webkit-linear-gradient(top, #000066, #000022);
    background: -o-linear-gradient(top, #996600, #996633);
    background: -moz-linear-gradient(top, #996600, #996633);
    background: linear-gradient(top, #996600, #996633);*/
    font-size: 100%;
}

body {
    background: #ffffff;
    color: white;
    font-family: "Comic Sans MS", Charcoal, Arial, sans-serif;
    font-size: 1em;
    margin: 0 auto;
}

/* Portrait Tablet */
@media (min-width: 605px) {
    body {
        width: 600px;
    }
    .game_time {
        float: right;
        margin-top: -20px;
    }
    #search_field {
        width: 380px;
    }
}

/* Landscape smart phone */
@media (min-width: 34em) and (max-width: 40em) {
    body {

    }
    .game_time {
        float: right;
        margin-top: -25px;
        width: 8em;
    }
    #search_field {
        width: 18em;
    }
}

/* Portrait smart phone */
@media (max-width: 320px) {

}

#body {
    margin: 3px;
    padding: 3px;
    background: -webkit-linear-gradient(top, #ffffff, #9999ff);
    background: -o-linear-gradient(top, #996600, #996633);
    background: -moz-linear-gradient(top, #996600, #996633);
    background: linear-gradient(top, #ffffff, #9999ff);
    border-radius: 4px;
    border: 0 #9999ff solid;
}

/*start header area */
#header_area h1 {
    color: #000066;
    padding: 0.1em;
    margin: 0.1em;
    font-size: 1.25em;
}

#header_area h2 {
    color: #663300;
    padding: 0.1em;
    margin: 0.1em;
    text-align: center;
    font-size: 1.05em;
}

/* end header area */

/*start search area */
#search_area {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: 1px black solid;
    background-color: #000066;
    margin-bottom: 10px;
}

#search_area td {
}

#search_area h3 {
    color: #ffffff;
    text-align: left;
    margin: 0;
    margin-right: 8px;
    padding: 0;
    font-size: 1.15em;
}

#search_area textarea:focus, input:focus {
    outline: 0;
}

#search_area table {
    /*width: 90%;
    height: 100%;*/
    margin: 2px;
    margin-left: 8px;
}

#search_field {
    color: #663300;
    padding: 0.2em;
    margin: 0px;
    font-size: 1.15em;
    border: 0px black solid;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

#search_button {
    color: #663300;
    text-align: center;
    margin: 0;
    width: 2em;
    height: 2em;
    font-size: 1.1em;
    padding: 0.2em;
    background: url(../images/search.png) no-repeat;
    background-size: 100% auto;
    text-decoration: none;
    cursor: pointer;
    border: none;
}

#search_button:hover {

}

/* end search area */

/* start content area */
#content_area {
    margin-bottom: 10px;
    padding: 0 2px 2px 2px;
}

#content_area h2 {
    color: #663300;
    text-align: center;
}

#content_area h3 {
    color: #663300;
    padding: 0;
    margin: 0.1em;
}

#content_area p {
    color: #663300;
    margin: 0;
    padding: 0;
    margin-left: 1em;
}

#content_area hr {
    color: #000066;
    background-color: #000066;
    border: 1px #000066 solid;
}

.game {
    margin: 10px 1px 10px 1px;
    padding: 0;
}

.game_time {

    /*border:1px black solid;*/
    color: #663300;
    padding: 0;
}

.week_day {
    font-size: 0.9em;
    /* float: right;*/
}

/* end content area */

a {
    color: #663300;
    text-decoration: none;
    /*
    padding: 2px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 4px;
    margin-left: 10px;
    margin-right: 10px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;*/
}

a:visited {

}

a:hover {
    /*background-color: #663300;*/
    color: white;
}

.item {
    background-color: #ffffff;
    /*
    background: -webkit-linear-gradient(top, #FFFF66, #CCCC00);
    background: -o-linear-gradient(top, #FFFF66, #CCCC00);
    background: -moz-linear-gradient(top, #FFFF66, #CCCC00);
    background: linear-gradient(top, #FFFF66, #CCCC00);*/
    color: black;
    padding: 3px;
    margin: 0px;
}

.item p {

}

.item h3 {

}

th {
    text-align: center;
    color: #660000;
    padding:3px;
}

td {
    border-bottom: 1px black solid;
    text-align: center;
    color: #663300;
    padding: 2px;
    margin: 2px;
}

tr {
    padding: 0;
    margin: 0;
}


